# Node.js specific
node_modules/
npm-debug.log
yarn-error.log

# Editor config files
.editorconfig

# IDE specific files
.vscode/

# Build output files
dist/
build/

# Test results
coverage/
test-results/

# Temporary files
*.log
*.tmp
*.swp